<footer>
    <div class="first-row">
        <div class="container">
            <div class="col-1">
                <img src="/images/footer-logo.svg" alt="">
                <p>By using our content, products & services you agree to our Terms of Service and Privacy Policy.
                    The information in this site is based on different reviews made by third parties, as well as own
                    view and
                    sources. Reproduction in whole or in part in any form or medium without express written
                    permission of
                    Affiliate Marketing Corp is prohibited..</p>
            </div>
            <div class="col-2">
                <div class="row1">
                    <ul>
                        <li><a href="#">Comparison</a></li>
                        <li><a href="#">Charts</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">How To's</a></li>
                    </ul>
                </div>
                <div class="row2">
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="copyright">
        <div class="container">
            <div class="col-1-copyright">
                <p>Copyright &copy; 2017-2020 Affiliate Marketing Corp. All Rights Reserved.</p>
            </div>
            <div class="col-2-copyright">
                <ul>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">Privacy Policies</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
